html,
body {
  font-size: 92%;
  height: 100%;
  background-color: #000;
}
body,
input {
  font-family: "Montserrat";
}
.navbar {
  background: url("./navbar_background.jpg");
}
.navbar-brand{
    font-size: 1.5em;
    margin-left: 5%;
    padding: 5px;
    border-bottom: 2px solid #fff;
    border-radius: 25;
}
#navbarNav {
  justify-content: flex-end;
  margin-right: 3%;
}
.nav-item.nav-link {
  font-weight: 500;
  font-size: 1.1em;
  transition: all 0.2s linear;
  transform: scale(1);
}
.nav-item.nav-link:hover {
  color: #0cf;
  border-bottom: 1px solid #0cf;
  transform: scale(1.2);
}
#intro {
    position: relative;
    height: 100%;
    overflow: hidden;
    z-index: 1;
    background-image: url('./background.jpg');
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
#intro::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 2;
}
#intro .content {
  text-align: center;
  position: absolute;
  top: 30%;
  left: 0;
  right: 0;
  overflow: hidden;
  z-index: 5;
  color: #fff;
}
#intro .content h1 {
  font-size: 5.5em;
  font-weight: 400;
}
#intro .content h2 {
  padding: 0;
  border: none;
}
#intro .content h3 {
  font-size: 1.5em;
  font-weight: 300;
}
#intro .content h2 span {
    font-size: 1em;
    font-weight: 800;
}
#intro .content .socials {
  padding: 10px 0;
  margin: 30px 0;
}
#intro .content .socials a {
  color: #fff;
  display: inline-block;
  font-size: 1.2em;
  padding: 10px;
  width: 45px;
  height: 45px;
  text-align: center;
  line-height: 1.25;
  border: 2px solid #fff;
  border-radius: 100%;
  margin: 0 10px;
  transition: all 0.15s linear;
  transform: scale(1);
}
#intro .content .socials a:hover {
  color: #0cf;
  border: 2px solid #000;
  transform: scale(1.2);
}
.go-down {
  text-align: center;
  position: absolute;
  z-index: 10;
  bottom: 30px;
  left: 0;
  right: 0;
}
.go-down .mouse {
  display: inline-block;
  width: 30px;
  height: 50px;
  border: 2px solid #fff;
  border-radius: 15px;
}
.go-down .mouse::after {
  content: "";
  display: block;
  position: absolute;
  border-radius: 100%;
  width: 1px;
  height: 1px;
  border: 4px solid #fff;
  left: 50%;
  margin-left: -4px;
  top: 10px;
}
#about {
    height: 100;
    position: relative;
    overflow: hidden;
    background-color: #000;
    z-index: 1;
    background-image: url("./aboutme_background.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
#about .container-fluid{
    margin-left: 17%;
    margin-right: 20%;  
}
#about .col-8 {
    margin-right: 10%;
}
#about .container-fluid img {
    border-radius: 50%;
    position: relative;
    text-align: left;
    margin-left: 25%;
    width: 15%;
    height: 15%;
}
#about h2 {
    color: #fff;
    font-weight: 600;
    font-size: 4em;
    margin-bottom: 7%;
}
#about p {
    color: #fff;
    margin-top: 4%;
    margin-right: 35%;
    text-align: center;
    font-weight: 5000;
    font-size: 1.6em;
}
#about .row {
  margin-bottom: 10%;
}
#experience {
    height: 100;
    position: relative;
    overflow: hidden;
    background-color: #000;
    z-index: 1;
    background-image: url("./experience_background.png");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
#experience h1 {
  text-align: center;
  border-bottom: 2px solid #0cf;
  font-size: 4em;
  font-weight: 600;
  margin: 4% 10% 4% 10%;
}
#experience h2 {
  font-size: 3em;
}
#experience .container-fluid {
  color: #fff;
  margin-bottom: 10%;
}
#experience .col-12 {
  padding: 0% 4% 0% 4%;
}
#experience li label {
  font-size: 2em;
  font-weight: 500;
  color: #0cf;
  margin: 1%;
}
#experience li span {
  margin-left: 5%;
  font-size: 1.3em;
  display: flex;
  color: antiquewhite;
  margin-bottom: 3%;
}
#contact {
  height: 100;
  position: relative;
  overflow: hidden;
  background-color: #000;
  z-index: 1;
  background-image: url("./contact_background.jpg");
  background-position: top right;
  background-repeat: no-repeat;
}
#contact .row.outer {
  margin-bottom: 16%;
}
#contact .col-12 {
  display: flexbox;
  float: left;
  font-weight: 600;
  margin-left: 3%;
  margin-right: 1%;
}
section h2 {
  text-align: center;
  line-height: 1;
  padding-top: 7%;
  padding-bottom: 10px;
  border-bottom: 2px solid #af0;
}
